.container{
  flex-direction: column;
  background-color: white;
  justify-content: center;
}


.title{
  text-align: center;
  font-size: x-large;
  font-weight: bold;
}

.todo-text{
  width:100%;
  min-height:fit-content;
  border-style: none; 
  border-color: Transparent; 
  overflow: auto;   
  cursor: pointer;
}

.todo-text.active{
  text-decoration: line-through;
}

i.hidden{
  display: none;
}

i.visible{
  visibility: visible;
}

div.hidden{
  display: none;
}










