.container{
  flex-direction: column;
  background-color: white;
  justify-content: center;
}

.title{
  text-align: center;
  font-size: x-large;
  font-weight: bold;
}

form{
  justify-content: center;
}


.listItem{
  display: flex;
  justify-content: center;
  height: 50px;  
}




